body, header, footer, nav, h1, h2, h3, h4, ul, li, p {
  box-sizing: border-box;
  padding: 0;
}

body {
  color: #000;
  text-align: center;
}

header, footer {
  width: 100%;
  color: #555;
  padding: 1%;
  background: #DDFFFF	;
}

h1 {
  padding: 5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5vw;
}

footer{
  margin-top: 5%;
  padding: 1% 0;
  bottom: 0;
}

.content {
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}
